*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}

body, html {
  display: block;
  margin: 0;
  background-color: #0f93b2;
  font-family: Arial, Helvetica, sans-serif;
}

.app-name {
  text-align: center;
  color: #be681a;
  font-size: 48pt;
  margin: 0px;
}

.bar {
  border: solid;
  margin: 5px 10px 5px 10px;
  padding: 0px 15px;
  background-color: #9fedff;
}

.bar-name {
  
}

.bar-desc {
  
}

.bar-beer-list {
  
}

.beer {
  border: solid;
  margin: 10px 0px;
  padding: 0px 15px;
  background-color: #ffca9a;
}

.beer-name {
  
}

.beer-desc {
  
}