*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}

body, html {
  display: block;
  margin: 0;
}

.bar {
  border: solid;
  margin: 5px;
  padding: 15px;
}

.bar-name {
  
}

.bar-desc {
  
}

.bar-beer-list {
  
}

.beer {
  border: solid;
  margin: 10px;
  padding: 15px;
}

.beer-name {
  
}

.beer-desc {
  
}